body {
  background-color: hsl(0, 0%, 96%);
  min-height: 100vh;
}

.container.control {
  background-color: #ffffff;
  border: 1px solid hsl(0, 0%, 87%);
}

/* Delegate input styling to Bulma */
input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

input:disabled {
  background: white;
}

.login {
  text-align: center;
  margin: auto;
}

.toggle {
  margin-left: 20px;
  margin-top: 1px;
}

#root {
  padding: 50px 0;
}

#map {
  height: 500px;
}
