body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
.header {
  display:flex;
  flex-direction:row;
}

.updateButton {
  margin-left: 20px;
}

.login {
  text-align: center;
  margin: auto;
}

#root {
  padding: 70px 0;
}