body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/* Delegate input styling to Bulma */
input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

input:disabled {
  background: white;
}

.pickers {
  display: flex;
  flex-direction: row;
}

.login {
  text-align: center;
  margin: auto;
}

.toggle {
  margin-left: 20px;
  margin-top: 1px;
}

.floater {
  /* position: relative;
  top: 10px;
  width: 50vw;;
  z-index: 10;
  float: right; */
}

#root {
  padding: 50px 0;
}