body {
  margin: 20px;
}

/* Delegate input styling to Bulma */
input {
  border: none;
}

input:focus {
  border: none;
  outline: none;
}

input:disabled {
  background: white;
}

.login {
  text-align: center;
  margin: auto;
}

.toggle {
  margin-left: 20px;
  margin-top: 1px;
}

#root {
  padding: 50px 0;
}